/* CC Button */
button.cc-button {
    background-color: rgba(126, 34, 206, 0.2);
	background-image: url("https://raw.githubusercontent.com/phreakazoid21/gh-cc-prs/refs/heads/main/resources/cc.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border: none;
	border-radius: 3em;
	width: 3em;
	height: 3em;
	margin-left: 0.5em;
	margin-bottom: 0.5em;
}

button.cc-button:hover {
    background-color: rgba(126, 34, 206, 0.4);
    transform: scale(1.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button.cc-button span {
    display: none;
}
