/* CC Button */
button.cc-button {
	background-color: none;
	background-image: url("https://raw.githubusercontent.com/phreakazoid21/gh-cc-prs/refs/heads/main/resources/cc.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 2px;
    border: none;
    border-radius: 5px;

    width: 2em;
    height: 2em;
}

button.cc-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button.cc-button span { /* Or target the specific element containing the text */
    display: none;
}
